{% extends 'base.html.twig' %}

{% block title %}Ma recette{% endblock %}

{% block body %}
{% if editMode %}
<h1>Edition recette</h1>
{% else %} 
<h1>Creation recette</h1>
{% endif %}

{{ form_start(form) }}

    

    {{ form_start(form) }}
        {{ form_row(form.name) }}
        {# {{ form_row(form.published) }}  #}
        {{ form_row(form.description) }}
        {{ form_row(form.nbPerson) }}
        {{ form_row(form.preparationTime) }}
        {{ form_row(form.cookingTime) }}
        {{ form_row(form.picture) }}
        {{ form_row(form.instructions) }}

        <div id="recipe_categories_container" style="width:25%;">
            <ul id="categories" data-prototype="{{ form_widget(form.categories.vars.prototype)|e('html_attr') }}">
                {% for categorie in form.categories %}
                    <div class="categories-form"style="display:flex;">
                        {{ form_row(categorie) }} 
                        <a class="remove">X</a>
                    </div>  
                {% endfor %}
            </ul>
            <button type="button" class="btn btn-dark add_categorie_link" data-collection-holder-class="categorie">Ajouter une categorie</button>
        </div>

        <div id="recipe_compositions_container">
            <ul data-prototype="{{ form_widget(form.compositions.vars.prototype)|e('html_attr') }}">
                {% for composition in form.compositions %}
                    <div id="composition-form" style="display:flex;">
                        {{ form_row(composition) }}
                        <a class="remove">X</a>      
                    </div>  
                   
                {% endfor %}
            </ul>
            <p class="d-flex">
                <button type="button" class="add_ingredient_link btn btn-dark" data-collection-holder-class="ingredient">Ma liste d'ingredients</button>
            </p>
        </div>
        {# <br>
            <a class= "icon_add" href="{{ path('new_ingredient') }}"><button type="button" class="btn btn-dark">Manque d'un ingrédient ajouter le ici</button></a>
        <br><br> #}
         
    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>

        function displayListByCategorie(){
            var $cat = $('.catList');
            // console.log($cat)
            
            $cat.change(function() { // Quand la categorie d'ingredient a été selectionné donnera les changement vouluent
                //On recupere l'id de la catégorie d'ingredient
                let idSource = $(this).attr('id')
                //on prépare le code de la balise contenant les ingrédients en reprenant l'id de la catégorie et replacant categorieIngredient par ingrédient
                let idCible = idSource.replace('categoryIngredient', 'ingredient')
                //on donne ce nouvel id à la liste d'ingrédient
                var $ingrList = $("#"+idCible);
                $ingrList.fadeOut(400)
                
                $.ajax({ //donnera en passant par la fonction du controller ingrList
                // la liste des ingredients vouluent en fonction de leur catégorie
                //tout en distribuant de nouvelles valeurs aux ingrédients qui seront séléctionnés
                    url : "{{ path('ingrList') }}",
                    type: 'GET',
                    data : { idcat : $(this).val() },
                    success: function(html) {
                        
                        $ingrList.fadeIn(400)
                        $ingrList.html(html)
                    }
                });
            });
        }

        function addFormToCollectionCategories($holderCategories, newFormSec){
            // console.log(newFormSec)
            var index = $holderCategories.data('index');
            
            newFormSec = newFormSec.replace(/__nameSec__/g, index);
            
            // Définit le nombred 'index qu'on veut ajouter qu'en on appuie sur le bouton
            $holderCategories.data('index', index + 1);
            // Ajoute un form avec <li> avant le bouton ajouter recipe
            var $newFormCatLi = $('<li></li>').append(newFormSec);

            $newFormCatLi.append('<a href="#" class="remove">x</a>');
    
            $holderCategories.append($newFormCatLi)
            // Mise en place du bouton remove avec chaque nouveau formulaire
            $('.remove').click(function(e) {
                e.preventDefault();
                
                $(this).parent().remove();
                
                return false;
            });

        }


        function addFormToCollection($holder, newForm){
            // console.log(newForm)
            // on définit la variable index qui contiendra 
            var index = $holder.data('index');
            // définition du nouveau formulaire qui contiendra 
            newForm = newForm.replace(/__name__/g, index);
            
            //définit le nombre 'index qu'on a ajouté qu'en on appuie sur le bouton
            $holder.data('index', index + 1);
            //Définition d'un nouveau du nouveau formulaire qui sera ajouté Ajoute un form avec <li> avant le bouton ajouter ingredient
            var $newFormLi = $('<li></li>').append(newForm);

            $newFormLi.append('<a href="#" class="remove">x</a>');
    
            $holder.append($newFormLi)
            // Mise en place du bouton remove avec chaque nouveau formulaire
            $('.remove').click(function(e) {
                e.preventDefault();
                
                $(this).parent().remove();
                
                return false;
            });

        }

        $(document).ready(function() {
            //On définit le contenant 
            var $collectionHolderCategories = $('#categories');
            var protoCat = $collectionHolderCategories.data("prototype");
                       
            //ajoute un attribut data-index qui compte le nbre d'inputs dans la collection
            $collectionHolderCategories.data('index', $collectionHolderCategories.find(':input').length);

            addFormToCollection($collectionHolderCategories, protoCat);
            
            $('.add_categorie_link').on('click', function(e){
                e.preventDefault();
                addFormToCollection($collectionHolderCategories, protoCat);
                
            })

             //On définit le contenant 
            var $collectionHolder = $('#recipe_compositions_container ul');
            //on définit le prototype qui contiendra la liste des ingrédients 
            var protoCI = $collectionHolder.data("prototype");
                       
            //ajoute un attribut data-index qui compte le nbre d'inputs dans la collection  
            $collectionHolder.data('index', $collectionHolder.find(':input').length);
            
            $('.add_ingredient_link').on('click', function(e){
                //Si l'événement n'est pas traité explicitement, son action par défaut ne doit pas être prise en compte 
                e.preventDefault();
                //ajoute un nouvel ingredient formulaire
                //aura pour fonction d'utilisé les attributs de data-prototype pour dynamiquement ajouter un nouveau formulaire  
                addFormToCollection($collectionHolder, protoCI);
                displayListByCategorie()
            })


        });

    </script>
{% endblock %}


