{% extends 'base.html.twig' %}

{% block title %}Ma recette{% endblock %}



{% block body %}
{% if editMode %}
<h1>Edition recette</h1>
{% else %} 
<h1>Creation recette</h1>
{% endif %}


{{ form_start(form) }}

    {{ form_row(form.name) }}


        <div>
            {{ form_start(form) }}
                {{ form_row(form.description) }}
                {{ form_row(form.nbPerson) }}
                {{ form_row(form.preparationTime) }}
                {{ form_row(form.cookingTime) }}
                

                <div id="recipe_categories_container">
                    {{ form_row(form.categories) }}
                    {# {% if editMode %} #}
                        {# <a class="#">Edition de la catégorie</a>     #}
                    {# {% else %}  #}
                        <a id="add_category">Ajouter une catégorie</a>  
                </div>
                    {# {% endif %} #}
                    
                <div id="recipe_compositions_container">
                   <ul data-prototype="{{ form_widget(form.compositions.vars.prototype)|e('html_attr') }}">
                    </ul>
                    
                    <button type="button" class="add_ingredient_link" data-collection-holder-class="ingredient">Ma liste d'ingredients</button>
                </div>
                <br>
                    <a class= "icon_add" href="{{ path('new_ingredient') }}"><button type="button" class="btn btn-dark">Ajout d'ingredient</button></a>
                <br><br>
            {{ form_end(form) }}
        </div>
       
<pre>
    {# {{ dump(form) }} #}
</pre>
{{ form_end(form) }}
    
{% endblock %}

{% block javascripts %}
{# On récupère jquery de base.html.twig #}
    {{ parent() }}
    <script>

        $("#add_category").click(function(){
            let proto = $("#recipe_categories").data("prototype")
            //Permet d'ajouter a la suite
            $("#recipe_categories").append(proto)

        }) 

        $(document).ready(function() {
            //On définit le contenant 
            var $collectionHolder = $('#recipe_compositions_container ul');
            var proto = $collectionHolder.data("prototype");
                       
            //ajoute un attribut data-index qui compte le nbre d'inputs dans la collection
            $collectionHolder.data('index', $collectionHolder.find(':input').length);
            
            $('.add_ingredient_link').on('click', function(e){
                e.preventDefault();
                //ajoute un nouvel ingredient formulaire
                addFormToCollection($collectionHolder, proto);
            })
        });

        function addFormToCollection($holder, newForm){
            console.log(newForm)
            var index = $holder.data('index');
            
            newForm = newForm.replace(/__name__/g, index);
            
            //définit le nombre 'index qu'on veut ajouter qu'en on appuie sur le bouton
            $holder.data('index', index + 1);
            //Ajoute un form avec <li> avant le bouton ajouter ingredient
            var $newFormLi = $('<li></li>').append(newForm);

            $newFormLi.append('<a href="#" class="remove">x</a>');
    
            $holder.append($newFormLi)

            $('.remove').click(function(e) {
                e.preventDefault();
                
                $(this).parent().remove();
                
                return false;
            });

        }
    </script>
{% endblock %}