{% extends 'base.html.twig' %}

{% block title %}Ma recette{% endblock %}

{% block body %}
{% if editMode %}
<h1>Edition recette</h1>
{% else %} 
<h1>Creation recette</h1>
{% endif %}

{{ form_start(form) }}

    

    {{ form_start(form) }}

        {{ form_row(form.name) }}
        {# {{ form_row(form.published) }}  #}
        {{ form_row(form.description) }}
        {{ form_row(form.nbPerson) }}
        {{ form_row(form.preparationTime) }}
        {{ form_row(form.cookingTime) }}
        {{ form_row(form.picture) }}
        {{ form_row(form.instructions) }}

        <div id="recipe_categories_container" style="width:25%;">
            <ul id="categories" data-prototype="{{ form_widget(form.categories.vars.prototype)|e('html_attr') }}">
                {% for categorie in form.categories %}
                    <div class="categories-form"style="display:flex;">
                        {{ form_row(categorie) }} 
                        <a class="remove">X</a>
                    </div>  
                {% endfor %}
            </ul>
            <button type="button" class="btn btn-dark add_categorie_link" data-collection-holder-class="categorie">Ajouter une categorie</button>
        </div>

        <div id="recipe_compositions_container">
            <ul data-prototype="{{ form_widget(form.compositions.vars.prototype)|e('html_attr') }}">
                {% for composition in form.compositions %}
                    <div id="composition-form"style="display:flex;">
                            {{ form_row(composition) }}
                            <div class="remove-ingredient"style="padding-top: 3em;">
                                <a class="remove">X</a>    
                            </div> 
                            
                    </div>  
                {% endfor %}
            </ul>
            <p class="d-flex">
                <button type="button" class="add_ingredient_link btn btn-dark" data-collection-holder-class="ingredient">Ma liste d'ingredients</button>
                <div id="catIngredient_recipe_container">
                    {{ form_widget(form.categoryIngredient) }}
                </div>    
                
            
            </p>
            
        </div>

        <br>
            <a class= "icon_add" href="{{ path('new_ingredient') }}"><button type="button" class="btn btn-dark">Manque d'un ingrédient ajouter le ici</button></a>
        <br><br>
         
    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}

{# On récupère jquery de base.html.twig #}
    {{ parent() }}
    <script
        src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
        crossorigin="anonymous"></script>
    <script>
    
        $(document).ready(function() {
            //On définit le contenant 
            var $collectionHolderCategories = $('#categories');
            var proto = $collectionHolderCategories.data("prototype");
                       
            //ajoute un attribut data-index qui compte le nbre d'inputs dans la collection
            $collectionHolderCategories.data('index', $collectionHolderCategories.find(':input').length);

            addFormToCollection($collectionHolderCategories, proto);
            
            $('.add_categorie_link').on('click', function(e){
                e.preventDefault();
                //ajoute un nouvel recipe  formulaire
                addFormToCollection($collectionHolderCategories, proto);
            })
        });

        function addFormToCollectionC($holderR, newFormSec){
            console.log(newFormSec)
            var index = $holderR.data('index');
            
            newFormSec = newFormSec.replace(/__nameSec__/g, index);
            
            //définit le nombred 'index qu'on veut ajouter qu'en on appuie sur le bouton
            $holderR.data('index', index + 1);
            //Ajoute un form avec <li> avant le bouton ajouter recipe
            var $newFormCatLi = $('<li></li>').append(newFormSec);

            $newFormCatLi.append('<a href="#" class="remove">x</a>');
    
            $holderR.append($newFormCatLi)

            $('.remove').click(function(e) {
                e.preventDefault();
                
                $(this).parent().remove();
                
                return false;
            });

        }



        $(document).ready(function() {
            //On définit le contenant 
            var $collectionHolder = $('#recipe_compositions_container ul');
            var proto = $collectionHolder.data("prototype");
                       
            //ajoute un attribut data-index qui compte le nbre d'inputs dans la collection
            $collectionHolder.data('index', $collectionHolder.find(':input').length);
            
            $('.add_ingredient_link').on('click', function(e){
                e.preventDefault();
                //ajoute un nouvel ingredient formulaire
                addFormToCollection($collectionHolder, proto);
            })
        });

        function addFormToCollection($holder, newForm){
            console.log(newForm)
            var index = $holder.data('index');
            
            newForm = newForm.replace(/__name__/g, index);
            
            //définit le nombre 'index qu'on veut ajouter qu'en on appuie sur le bouton
            $holder.data('index', index + 1);
            //Ajoute un form avec <li> avant le bouton ajouter ingredient
            var $newFormLi = $('<li></li>').append(newForm);

            $newFormLi.append('<a href="#" class="remove">x</a>');
    
            $holder.append($newFormLi)

            $('.remove').click(function(e) {
                e.preventDefault();
                
                $(this).parent().remove();
                
                return false;
            });

        }


// $("#add_category").click(function(){
//             let proto = $("#recipe_categories").data("prototype")
//             //Permet d'ajouter a la suite
//             $("#recipe_categories").append(proto)

//         }) 


        var $cat = $('#catIngredient_recipe_container');
        // Quand la categorie d'ingredient a été selectionné
        $sport.change(function() {
            // reprend le formulaire correspondant
            var $form = $(this).closest('form');
            // simule un formulaire avec les données sélectionnées
            var data = {};
            data[$sport.attr('name')] = $sport.val();
            // Soumet les données via AJAX au formulaire 
            $.ajax({
                url : $form.attr('action'),
                type: $form.attr('method'),
                data : data,
                success: function(html) {
                    // Replace l'actuel champ ...
                    $('#sport_meetup_position').replaceWith(
                        // ... with the returned one from the AJAX response.
                        $(html).find('#sport_meetup_position')
                    );
                    // Position field now displays the appropriate positions.
                }
            });
        });
    </script>
{% endblock %}


