{% extends 'admin.html.twig' %}

{% block title %}Recettes{% endblock %}

{% block body %}
{# <div id="page-recipes">
    <div id="filters">
        <p>
            <input type="text" id="search" name="search">
            <div id="searchResults"></div>
        </p>
         <button id="filter-submit">Rechercher</button>
    </div>
</div> #}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    {% for recipe in recipes %}
        <a href="{{ path('detailRecipe', {'id':recipe.id}) }}">{{ recipe.name }}</a>
        <a href="{{ path('edit_recipe', { id: recipe.id }) }}">EDIT</a>
        <a class="confirmation" href="{{ path('recipe_delete', { id: recipe.id }) }}">SUPP</a><br>
        {# {{ recipe.categoryRecipe.name }} #}
    {% endfor %}
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
