{% extends 'base.html.twig' %}
{% block title %}Hello RecipeController!{% endblock %}
{% block body %}

<h1>Creation recette</h1>
var_dump()
{{ form_start(formFirst) }}

    {{ form_row(formFirst.name) }}

    {# {% if formSecond %} #}
        <div>
            {{ form_row(formFirst.description) }}
            {# {{ form_row(formFist.picture) }} #}
            {# {{ form_row(formFirst.cookingTime) }}
            {{ form_row(formFirst.preparationTime) }}
            {{ form_row(formFirst.steps) }} #}
            {{ form_row(formFirst.instructions) }}
            {{ form_row(formFirst.nbPerson) }}

        </div>
        
        <div id="recipe_categories_container">
            {{ form_row(formFirst.categories) }}
             <a id="add_category">Ajouter une catégorie</a>  
        </div>
       
    {# {% endif %} #}
    
{{ form_end(formFirst) }}
    
{% endblock %}

{% block javascripts %}
{# On récupère jquery de base.html.twig #}
    {{ parent() }}
    <script>
        $("#add_category").click(function(){
            let proto = $("#recipe_categories").data("prototype")
            //Permet d'ajouter a la suite
            $("#recipe_categories").append(proto)

        }) 

    </script>
{% endblock %}