{% extends 'base.html.twig' %}

{% block title %}Hello RecipeController!{% endblock %}

{% block body %}
    <div class="textCentre">
        <h2>{{ recipe.name }}</h2>
        <a href="{{ path('edit_recipe', { id: recipe.id }) }}">EDIT</a>
        <a href="#">SUPP</a>
        
    </div>
    
    <p>{{ recipe.createdAt | date('d/m/Y') }} 
    - par {{ recipe.user.pseudo }} <a href="{{ path('add_following', { id : recipe.user.id }) }}">suivre</a>
    </p>
    <p>{{ recipe.preparationTime | date('H:i') }}</p>
    <p>{{ recipe.cookingTime |date('H:i') }}</p>
    

    {% for recipeCategory in recipeCategories %}
        <p>{{ recipeCategory.name }}</p>
    {% endfor %}
    
    

    <h4>{{ recipe.description }}</h4>
        {{ recipe.instructions }}
    <div class="textCentre">
        <h2>Les ingrédients de la recette : </h2>
    </div>
    

    {% for ingredient in ingredients %}
        <p> - {{ ingredient['quantity'] }} {{ ingredient['unit'] }} de {{ ingredient['name'] }} categorie :   {{ ingredient['category'] }}</p>
    {% endfor %}
    
{% for comment in recipe.comments %}
    <article class="uk-comment uk-comment-primary"> 
        <header class="uk-comment-header">
                <div class="uk-grid-medium uk-flex-middle" uk-grid>
                    <div class="uk-width-auto">
                        <img class="uk-comment-avatar" src="" width="80" height="80" alt="">
                    </div>
                    <div class="uk-width-expand">
                        <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="#">{{ comment.user.pseudo }}</a></h4>
                        <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">
                            <li>{{ comment.createdAt | date('d/m/Y') }}</li>
                        </ul>
                    </div>
                </div>
        </header>

        <div class="uk-comment-body">
            <p>{{ comment.post }}</p>
            {% if app.user == comment.user %}
                <a class="uk-button uk-button-default" href="{{ path('coment_delete', {'id':comment.id})}}">DELETE</a>
                <a class="uk-button uk-button-default" href="{{ path('comment_edit', {'id':comment.id})}}">EDIT</a>
            {% endif %}
        </div>
    </article>
{% endfor %}  


        {{ form(formComment) }}



{% endblock %}