{% extends 'base.html.twig' %}

{% block title %}{{ recipe.name }}{% endblock %}

{% block body %}

    <div class="card-recipe mb-3">
        <div class="card-body">
        
            <h4 class="text-center card-title">{{ recipe.name }}</h4>
            {% if app.user %}
                {% if app.user.id == recipe.user.id or is_granted('ROLE_ADMIN') %}
                    <div class="text-center card-tools">
                        <a href="{{ path('edit_recipe', { id: recipe.id }) }}"> <i class="fas fa-edit"></i></a>
                        <a href="{{ path('recipe_delete', { id: recipe.id }) }}"><i class="fas fa-trash-alt"></i></a>
                    </div>
                {% endif %}
            {% endif %}
            <p class="text-left">
                {% for recipeCategory in recipeCategories %}
                    <span class="badge badge-secondary">
                        {{ recipeCategory.name }}  
                    </span>
                {% endfor %}
            </p> 
            <div class="img-recipe">
                <img src="{{ asset('uploads/images/' ~ recipe.picture) }}" class="img-fluid" alt="Responsive image">
                <div class="top-card card-text">
                    <p>{{ recipe.description }}</p> 
                    <p>Temps de préparation : {{ recipe.preparationTime }} minutes</p>
                    <p>Temps de cuisson : {{ recipe.cookingTime }} minutes</p>
                        {% if app.user %}
                            <a href="{{ path('recipe_like', {'id': recipe.id}) }}" class="btn btn-link js-like">
                                {% if app.user and recipe.isLikedByUser(app.user) %}
                                    <i class="fas fa-thumbs-up"></i>
                                {% else %}
                                    <i class="far fa-thumbs-up"></i>
                                {% endif %}
                                    <span class="js-likes">{{ recipe.likes | length }}</span>
                                    <span class="js-label">like(s)<span>
                            </a>
                        {% endif %}
                </div>  
            </div>
            <p class="card-text">
                <small class="text-muted">{{ recipe.createdAt | date('d/m/Y') }}</small>
                <div class="recipe-detail-pseudo">
                    par <a href='{{ path('user_show', {'id': recipe.user.id}) }}'>{{ recipe.user.pseudo }}</a> 
                </div> 
                {% if recipe.user.id == app.user.id %}
                    
                {% else %}
                    <a href="{{ path('add_following', { id : recipe.user.id }) }}">suivre</a>
                {% endif %}   
            </p>
            
        </div>
    </div>
    <div class="body-recipe"> 
        <div class="composition"> 
            <h5>Les ingrédients de la recette :</h5>
            {% for ingredient in ingredients %}
                <p> - {{ ingredient['quantity'] }} {{ ingredient['unit'] }} de {{ ingredient['name'] }} - <small>{{ ingredient['category'] }}</small></p>
            {% endfor %}
        </div>
        <div class="instructions"> 
            {{recipe.instructions|raw}}
        </div>
    </div>
    
    {% for comment in recipe.comments %}           
        <ul class="list-unstyled">
            <li class="media">
                <img class="pp mr-3" src="{{ asset('uploads/profilpicture/' ~ comment.user.picture) }}" alt="Generic placeholder image">
                <div class="media-body">
                    <blockquote>
                    <p class="post">{{ comment.post }}</p>
                    <footer class="text-small"><a href='{{ path('user_show', {'id': comment.user.id}) }}'>{{ comment.user.pseudo }}</a><p>{{ comment.createdAt | date('d/m/Y') }}</p></footer>
                    {% if app.user == comment.user or is_granted('ROLE_ADMIN') %}
                        <a class="uk-button uk-button-default" href="{{ path('comment_delete', {'id':comment.id})}}">DELETE</a>
                        <a class="uk-button uk-button-default" href="{{ path('comment_edit', {'id':comment.id})}}">EDIT</a>
                    {% endif %}
                </blockquote>
                </div>
            </li>
        </ul>
    {% endfor %}  
    {% if app.user %}
        {{ form(formComment) }}
    {% endif %}


{% endblock %}

{% block javascripts %}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    
    <script>
       function onClickBtnLike(event){
            //
            event.preventDefault();
            //on prend l'url du lien pour l'avoir dans ajax
            const url = this.href; //this sera l'element <a> sur lequel on clique
            
            //recher le span avec class js-likes
            const spanCount = this.querySelector('span.js-likes');

            const icone = this.querySelector('i');
            
            //peut etre appelé en POST
            //axios permet gestion des promesses qui. La reponse sera ensuite mis dans la fonction
            axios.get(url).then(function(response){
                // const likes = response.data.likes;
                spanCount.textContent = response.data.likes;
                //si contient la class 'fas' = aime, alors remplacera par "far"
                if(icone.classList.contains('fas')){
                    icone.classList.replace('fas', 'far');
                
                } else {
                    icone.classList.replace('far', 'fas');
                }
                   
               
                    
            })
        }
        // selection de tout les <a> avec js-like 
        document.querySelectorAll('a.js-like').forEach(function(link){
        //quand clique appel de la finction onClick
        link.addEventListener('click', onClickBtnLike);
        })
    </script>
        
    
{% endblock %}