{% extends 'base.html.twig' %}
{% block title %}Hello RecipeController!{% endblock %}

{% block body %}

<h1>Creation recette</h1>

{{ form_start(form) }}

    {{ form_row(form.name) }}


        <div>
            {{ form_start(form) }}
                {{ form_row(form.description) }}
                {# {{ form_row(form.instructions) }} #}
                {{ form_row(form.nbPerson) }}
                <div id="recipe_categories_container">
                    {{ form_row(form.categories) }}
                    <a id="add_category">Ajouter une catégorie</a>  
                </div>
                <p>
                    <button type="submit">Next</button>
                </p>
            {{ form_end(form) }}
        </div>
       
<php

php>
{{ form_end(form) }}
    
{% endblock %}

{% block javascripts %}
{# On récupère jquery de base.html.twig #}
    {{ parent() }}
    <script>
        $("#add_category").click(function(){
            let proto = $("#recipe_categories").data("prototype")
            //Permet d'ajouter a la suite
            $("#recipe_categories").append(proto)

        }) 

    </script>
{% endblock %}