{% extends 'base.html.twig' %}

{% block title %}Toutes nos recettes{% endblock %}

{% block body %}
    <div class="container">
        
        
    </div>


<div class="container">
    <div class="row">
        <div class="filter">
                {% include 'home/_filter.html.twig' %}
        </div>
            
    </div>

    <div class="grid">
        {% for recipe in recipes %}
            <div class="card">
                <img class="card-img-top" src= "{{ asset('uploads/profilpicture/' ~ recipe.picture) }}" alt="picture">
            </div>
            <div class="card-body">
                <a href="{{ path('detailRecipe', {'id':recipe.id}) }}" class="card-title">{{ recipe.name }}</a>
                <p class="card-text">{{ recipe.preparationTime }} minutes</p>
                <p class="card-text">{{ recipe.comments | length }} commentaire(s)</p>
                <p class="card-text">{{ recipe.description }}</p>
            </div>
            <div></div>
        {% endfor %}
    </div>
</div>

<style>
    .grid{
        display : grid;
        grid-template-columns : repeat(3,1fr);
        grid-gap: 20px
    }
    .card-title{
        font-weight : bold;
        font-size : 1.5em;

    }
</style> 
        
    
    
{% endblock %}
