{% extends 'base.html.twig' %}

{% block title %}Mes Recettes{% endblock %}

{% block body %}


<h1>Recettes de {{ user.pseudo }}</h1>
    <ul>
    {% for recipe in user.recipes %}
        <ul>
            <li>
                <a href="{{ path('detailRecipe', {'id':recipe.id}) }}">{{ recipe.name }}</a>
                <a href="{{ path('edit_recipe', { id: recipe.id }) }}"> <i class="fas fa-edit"></i></a>
                <a href="{{ path('recipe_delete', { id: recipe.id }) }}"><i class="fas fa-trash-alt"></i></a>
                
                {{ recipe.published == '0' ? '<span uk-icon="icon: lock"></span>' : '<span uk-icon="icon: unlock"></span>' }}
           
                {% if recipe.published == 0 %}
                    <a class="uk-button uk-button-default" href="{{ path('recipe_lock', {'id':recipe.id} ) }}">Déverrouiller</a>
                {% else %}
                    <a class="uk-button uk-button-default" href="{{ path('recipe_lock', {'id':recipe.id} ) }}">Vérrouiller</a>
                {% endif %}
                <br>
        
            </li>
        </ul>
    
    {% endfor %}
    </ul>
{# <br>
    <a href="{{ path('add_bibliotheque', { 'id':user.id }) }}">Créer une bibliotheque</a>
<br><br> #}

{% endblock %}
{% block javascripts %}
  
{% endblock %}