{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}

<div class="container ">
    <div class="profile-nav">
            <div class="user-heading">
                <a href="#">
                    <img src= "{{ asset('uploads/profilpicture/' ~ user.picture) }}" alt="ProfiPicture">
                </a>
                <h1>{{ user.pseudo }}</h1>
                <p>{{ user.email }}</p>
                <button href="{{ path('user_edit', {'id':user.id}) }}">Edit</button>
                {# {% if $this %} #}
                    <button href="{{ path('add_following', { id : user.id }) }}">suivre</button>
                {# {% endif %} #}
                
            </div>
            <ul>
                <li><a href="{{ path('abonnements_index', {'id':app.user.id}) }}">Mes Abonnements</a></li>
                <li><a href="{{ path('bibliotheque_index', {'id':app.user.id}) }}">Mes Bibliotheques</a></li>
                <li><a href="{{ path('recipesUser_index', {'id':app.user.id}) }}">Mes Recettes</a></li>
            </ul>
    </div>
</div>


<div>
    <p>Date d'inscription : {{ user.dateInscription | date('d/m/Y') }}</p>
    <p>Date de Naissance : {{ user.dateNaissance | date('d/m/Y') }}</p>
 
</div>




   

{% endblock %}
