{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}

    <div class="container ">
        <div class="profile-nav">

            <div class="user-heading">
                <div class="top-profil">
                    <div class="card-pp">
                        {# {% if user.picture == null %} #}
                            <img class="profil-picture" src= "{{ asset('uploads/profilpicture/' ~ user.picture) }}" alt="ProfiPicture">
                        {# {% else %}  
                            <img class="profil-picture" src="{{ asset('uploads/header/alimentation-saine.jpg') }}" alt="ProfiPicture">
                        {% endif %} #}
                    </div>
                    <div class="card-pi">
                        <div class="profil-info">
                            <h1>{{ user.pseudo }}</h1>
                            {% if app.user.id == user.id or is_granted('ROLE_ADMIN') %}
                                <p>{{ user.email }}</p>
                            {% endif %}
                        </div>
                        <div class="profil-pi">
                            <p>Date d'inscription : {{ user.dateInscription | date('d/m/Y') }}</p>
                        </div>
                        <div class="profil-stats">
                            <div class="stat-abonnements" >
                                <h5>
                                    <a href="{{ path('abonnements_index', {id : user.id}) }}">Abonnements</a>
                                </h5>
                                <p>
                                    {{ user.listSubscriptions | length }}
                                </p>
                            </div>
                            <div class="stat-abonnes">
                                <h5>
                                    <a href="{{ path('subscribers_index', {id : user.id}) }}">Abonnés</a>
                                </h5>
                                <p>
                                    {{ user.subscribers | length }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div> 
                {% if app.user.id == user.id or is_granted('ROLE_ADMIN') %}
                    <div class="profil-buttons">
                        <div class="profil-buttons-supp">
                            <a class= "confirmation icon_add1"href="{{ path('user_delete', { id : user.id }) }}">Supprimer compte</a>
                        </div>
                {% endif %}
                {% if app.user.id == user.id %}
                        <div class="profil-buttons-edit">
                            <a class= "icon_add2" href="{{ path("user_edit", { id : user.id }) }}">Modifier profil</a>
                        </div>
                        <div class="profil-buttons-edit-mp">
                            <a class= "icon_add3" href="{{ path('user_edit_password', {'id':app.user.id}) }}">Changer mon mot de passe</a>
                        </div>
                        <div></div>
                    </div>    
                {% endif %}
                    <div class="profil-created">
                        <div class="profil-buttons-recipes">
                            <a class= "icon_add4" href="{{ path('recipesUser_index', {'id': user.id}) }}"><i class="far fa-edit"></i> Voir recettes</a>
                        </div>
                        <div class="profil-buttons-biblio">
                            <a class= "icon_add5" href="{{ path('bibliotheque_index', {'id':user.id}) }}"><i class="fas fa-book-open"></i> Voir bibliothèques</a>
                        </div>
                    </div>    
            </div>
        </div>
    </div>
            
    

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}