{% extends 'base.html.twig' %}

{% block title %}Abonnements{% endblock %}    

{% block body %}

<div class="subs-page">
    <div class="head-subs">
        <div class="user-profil-picture">
          <img src= "{{ asset('uploads/profilpicture/' ~ user.picture) }}" alt="ProfiPicture">
        </div>
        <div class="user-profil">
          <div class="user-profil-pseudo">
            <a style="text-decoration:none;" href="{{ path('user_show', { id : user.id}) }}">
              <h2>{{ user.pseudo }}</h2>
            </a>
          </div>
        </div> 
    </div>
    <div class="ligne">
      <div class="nav-subs">
        <p>Abonnements</p>
        <a href="{{ path('subscribers_index', {id : user.id}) }}">Abonnées </a>
      </div>
      
    </div>
    <div class="body-subs">
      {% for subscription in user.listSubscriptions %}
        <div class="card-subs">
            <div class="card-subs-img">
              <a href="{{ path('user_show', { id : subscription.targetUser.id}) }}">
                <img src="{{ asset('uploads/profilpicture/' ~ subscription.targetUser.picture) }}" alt="ProfiPicture">
              </a>
            </div>
            <div class="card-subs-name">
              <a href="{{ path('user_show', { id : subscription.targetUser.id}) }}">{{ subscription.targetUser.pseudo }}</a>
            </div>
            <div class="card-subs-follow">
              <a class="confirmation" href="{{ path('delete_following', { id : subscription.id}) }}">Désabonner</a>
            </div>
        </div>
      {% endfor %}
    </div>
  </div>
  
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}