
{% extends 'admin.html.twig' %}

{% block title %}Catégories d'ingrédient{% endblock %}

{% block body %}
    <div class="title">
        <h1>Liste des catégories d'ingrédient</h1>
        <a href="{{ path('new_catIngredient') }}">Ajouter une catégorie</a>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="table-success">Ingrédients</th>
                <th class="table-success"></th>
                <th class="table-success"></th>
            </tr>
        </thead>
        <tbody>
        {% set verif = 0 %}
        {% for ingredient in ingredients %}
            <tr>
                {% if verif != ingredient.category.id %}
                    <th class="table-warning">
                        {% set verif = ingredient.category.id %}
                        {{ ingredient.category.name }}
                    </th>
                    <th class="table-warning">
                        <a href="{{ path('edit_catIngredient', {'id':ingredient.category.id}) }}">Edit</a>
                    </th>
                    <th class="table-warning">
                        {# <a class="confirmation" href="{{ path('edit_catIngredient', {'id':ingredient.category.id}) }}">
                            <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                            </svg>
                        </a> #}
                    </th>
                {% endif %}
            </tr>
            <tr>
                <td class="table">
                    {{ ingredient.name }}
                </td>
                <td class="table">
                    <a href="#">Edit</a>
                </td>
                <td class="table">
                    <a class="confirmation" href="{{ path('ingredient_delete_admin', {'id':ingredient.id}) }}">
                        <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                        </svg>
                    </a>
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}