{% extends 'admin.html.twig' %}

{% block title %}Recettes{% endblock %}

{% block body %}
    
    <div class="title">
        <h1>Liste des recettes</h1>
    </div>
    <table class="table table-striped table-responsive">
        <thead>
            <tr>
                <th class="table-primary">Nom</th>
                <th class="table-primary">Date de création</th>
                <th class="table-primary">Nb commentaires</th>
                <th class="table-primary">Likes</th>
                <th class="table-primary"></th>
            </tr>
        </thead>
        <tbody>
            {% for recipe in recipes %}
                <tr>
                    <td class="table">
                        <a href="{{ path('detailRecipe', {'id':recipe.id}) }}">{{ recipe.name }}</a> 
                    </td>
                    <td class="table"> {{ recipe.createdAt | date('d/m/Y') }} </td>
                    <td class="table"> {{ recipe.comments | length }}</td>
                    <td class="table">
                        {{ recipe.likes | length }}
                    </td>
                    <td class="table">
                        <a class="confirmation" href="{{ path('recipe_delete_admin', { id: recipe.id }) }}">
                            <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                            </svg>
                        </a>
                    </td>
                    {# <td>
                        <a href="{{ path('edit_recipe', { id: recipe.id }) }}">EDIT</a>
                    </td> #}
                </tr>

            {% endfor %}

        </tbody>
    </table>
    {# </div>
</div> #}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
