{% extends 'admin.html.twig' %}

{% block title %}Nos utilisateurs{% endblock %}

{% block body %}
    <div class="title">
        <h1>Liste des recettes</h1>
    </div>
    <table class="table table-striped">
    <thead>
        <tr>
            <th class="table-danger">Pseudo</th>
            <th class="table-danger">Email</th>
            <th class="table-danger">Inscription</th>
            <th class="table-danger">Recettes</th>
            <th class="table-danger">Abonnés</th>
            <th class="table-danger">Abonnement</th>
            <th class="table-danger"></th> 

        </tr>
    </thead>
    <tbody>
        {% for user in users %}
            <tr>
                <td class="table">
                    <a href="{{ path('user_show', {'id':user.id}) }}">{{ user.pseudo }}</a>
                </td>
                <td class="table">
                    {{ user.email }}
                </td> 
                <td class="table">
                    {{ user.dateInscription | date('d/m/Y') }}
                </td>  
                <td class="table">
                    {{ user.recipes | length }}
                </td>
                <td class="table">
                    {{ user.subscribers | length }}
                </td>
                <td class="table">
                    {{ user.listSubscriptions | length }}
                </td>
                <td class="table">
                    <a class="confirmation" href="{{ path('admin_user_delete', {'id':user.id}) }}">
                        <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                        </svg>
                    </a>
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}