<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>{% block title %}Bienvenue{% endblock %}</title>
        {% block stylesheets %}     
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.4/jquery-confirm.min.css" integrity="sha512-0V10q+b1Iumz67sVDL8LPFZEEavo6H/nBSyghr7mm9JEQkOAm91HNoZQRvQdjennBb/oEuW+8oZHVpIKq+d25g==" crossorigin="anonymous" />
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
            <link rel="stylesheet" href="{{ asset('css/styleResponsive.css') }}">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
        {% endblock %}
    </head>
	<body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{{ path('home')}}"><i class="fas fa-lightbulb"></i> Idées Cuisine</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
             <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav justify-content-end navbar-nav mr-auto">
                    {% if app.user %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('adminHome') }}">Desk</a>
                            </li>
                        {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('add_recipe') }}"><i class="fas fa-plus"></i> Recette</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('fav', {'id':app.user.id}) }}"><i class="fas fa-heart"></i> Favoris</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('new_ingredient') }}">AI</a>
                    </li>
                    <li class="nav-item">
                        
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('filActu', {'id':app.user.id}) }}">Mon fil d'actualités</a>
                    </li>
                </ul>
                <ul class="nav dropdown navbar-nav"  >
                    <li class="nav-item dropdown">
                        <a style="padding-right:5em;" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ app.user.pseudo }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href='{{ path('user_show', {'id':app.user.id}) }}'>
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                                </svg> Profil
                            </a>
                            <a class="dropdown-item" href="{{ path('bibliotheque_index', {'id':app.user.id}) }}"><i class="fas fa-book-open"></i> Bibliothèque</a>
                            <a class="dropdown-item" href="{{ path('recipesUser_index', {'id':app.user.id}) }}"><i class="far fa-edit"></i> Mes Recettes</a>
                            <a class="dropdown-item" href="{{ path('app_logout') }}"><i class="fas fa-sign-out-alt"></i> Deconnexion</a>
                        </div>
                    </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
                        </li>  
                        <li class="nav-item">   
                            <a class="nav-link" href="{{ path('app_register') }}">Inscription</a>
                        </li>
                    {% endif %}
                </ul>
            </div>  
        </nav>
        <div class="wrapper">
            {% for messageflash in app.flashes('success') %}
                <div class=" fenalert alert alert-success alert-dismissible fade show mx-auto text-center" role="alert">
                    <strong>SUCCES</strong> {{ messageflash }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>            
                <br>
            {% endfor %}
            {% for messageflash in app.flashes('error') %}
                <div class=" fenalert alert alert-danger alert-dismissible fade show mx-auto text-center" role="alert">
                    <strong>ERREUR</strong> {{ messageflash }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>            
                <br>
            {% endfor %}
        </div>

        <div class="main">
                {% block body %}{% endblock %}
                {% block contenu %}{% endblock %}
                {% block home %}{% endblock %}
        </div>

        <section class="section_fin"> 
            <div class="AboutIdeesCuisine">
                <h3>A propos d'idées cuisine</h3>
                <div class="line_fin"></div>
                <p>
                    <strong>Idées Cuisine</strong> est un site idéale pour toutes les personnes souhaitant partager sa passion ou voulant apprendre de nouvelles choses en matière culinaire.
                </p>
            </div>
            <div class="dontForget">
                <h3>Ne pas oublier</h3>
                <div class="line_fin"></div>
                    <a href="register" style="display:block">M'inscrire</a>
                    <a href="" style="display:block">Se connecter</a>
                    <a href="" style="display:block">Se déconnecter</a>
            </div>
            <div class="share_links">   
                <h3>Réseaux sociaux</h3>
                <div class="line_fin"></div>
                <p>
                    <a style="display:block">Twitter</a>
                    <a style="display:block">Facebook</a>
                    <a style="display:block">Instagram</a>
                </p>
            </div>
        </section>

        <footer>
            <div id="buy">
                <p>Le plaisir de partager &copy; 2021 - <a>Idées Cuisine</a> - Elan Formation</p>
            </div>
            <div id="else">
                <a>
                    Accueil -
                </a>
                <a>
                    Politique de confidentialité
                </a>
            </div>
        </footer>
        
        
		{% block javascripts %}
            <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
            
            <script>
            $('a.confirmation').confirm({

                title: 'Validation',
                content: 'Êtes-vous sûr de vouloir supprimer cet élément ?',
                buttons: {
                    suppression: {
                        text: 'Supprimer',
                        btnClass: 'btn btn-danger',
                        action: function () {
                            location.href = this.$target.attr('href');
                        }
                    },
                    pasSuppression: {
                        text: 'Non',
                        btnClass: 'btn btn-primary',
                        action: function () {
                        }
                    },
                    },
            });
            </script>
       {% endblock %}
	</body>
</html>
